_iot/Activity_5/Node_red.json
[
    {
        "id": "3a9cf4b7.b12a6c",
        "type": "tab",
        "label": "Activity_5",
        "disabled": false,
        "info": "#Node red and ThingSpeak project \n#IoT course \n#A.Y 2019-2020 \n#Plitecnico di Milano \n#Hiva Amiri \n#Erfan Abbasi zadeh \n#Mohammad Javad Ebrahimpour"
    },
    {
        "id": "d1a80f42.a1559",
        "type": "debug",
        "z": "3a9cf4b7.b12a6c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "ecb34367.ae85e",
        "type": "tcp in",
        "z": "3a9cf4b7.b12a6c",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "41c7f177.c82ee"
            ]
        ]
    },
    {
        "id": "69f1bb1.cda5f44",
        "type": "switch",
        "z": "3a9cf4b7.b12a6c",
        "name": "separate Mote1 & 2",
        "property": "payload.mote",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Mote2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mote3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "a5f247a9.f81be8"
            ],
            [
                "70e3938a.70764c"
            ]
        ]
    },
    {
        "id": "1a3e5a13.d740f6",
        "type": "mqtt out",
        "z": "3a9cf4b7.b12a6c",
        "name": "Mote2_Field1",
        "topic": "channels/1071558/publish/fields/field1/TAL3IKFACW2ZAR90",
        "qos": "0",
        "retain": "",
        "broker": "3f4066cc.85130a",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "a5f247a9.f81be8",
        "type": "change",
        "z": "3a9cf4b7.b12a6c",
        "name": "change payload",
        "rules": [
            {
                "t": "move",
                "p": "payload.val",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "d1a80f42.a1559",
                "1a3e5a13.d740f6"
            ]
        ]
    },
    {
        "id": "86ccedad.c393",
        "type": "mqtt out",
        "z": "3a9cf4b7.b12a6c",
        "name": "Mote3_Field2",
        "topic": "channels/1071558/publish/fields/field2/TAL3IKFACW2ZAR90",
        "qos": "0",
        "retain": "",
        "broker": "3f4066cc.85130a",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "70e3938a.70764c",
        "type": "change",
        "z": "3a9cf4b7.b12a6c",
        "name": "change payload",
        "rules": [
            {
                "t": "move",
                "p": "payload.val",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "d1a80f42.a1559",
                "86ccedad.c393"
            ]
        ]
    },
    {
        "id": "917c2108.52f0b",
        "type": "function",
        "z": "3a9cf4b7.b12a6c",
        "name": "return <= 70",
        "func": "if ( msg.payload.val <= 70 )\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "33b7c3c6.86055c"
            ]
        ]
    },
    {
        "id": "41c7f177.c82ee",
        "type": "csv",
        "z": "3a9cf4b7.b12a6c",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "mote,val",
        "skip": "0",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "917c2108.52f0b"
            ]
        ]
    },
    {
        "id": "33b7c3c6.86055c",
        "type": "delay",
        "z": "3a9cf4b7.b12a6c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "21",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "69f1bb1.cda5f44"
            ]
        ]
    },
    {
        "id": "3f4066cc.85130a",
        "type": "mqtt-broker",
        "z": "",
        "name": "thingspeak_broker",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]