_iot/Activity_4/nodered_json
[{"id":"3c7fa0ad.33c2a","type":"tab","label":"Activity4","disabled":false,"info":"#Node red and ThingSpeak project \n#IoT course \n#A.Y 2019-2020 \n#Plitecnico di Milano \n#Hiva Amiri \n#Erfan Abbasi zadeh \n#Mohammad Javad Ebrahimpour"},{"id":"f550c58d.8491c8","type":"inject","z":"3c7fa0ad.33c2a","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["ca3878b4.7bdba8"]]},{"id":"4ba0df63.7c337","type":"csv","z":"3c7fa0ad.33c2a","name":"Convert data to js values","sep":";","hdrin":false,"hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","x":150,"y":320,"wires":[["8db1b4a2.cc1238"]]},{"id":"973de454.0405b8","type":"debug","z":"3c7fa0ad.33c2a","name":"http and exec return stat","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1350,"y":320,"wires":[]},{"id":"8db1b4a2.cc1238","type":"split","z":"3c7fa0ad.33c2a","name":"split data on spaces","splt":" ","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"key","x":160,"y":360,"wires":[["1daa8e0f.2ffca2"]]},{"id":"1daa8e0f.2ffca2","type":"function","z":"3c7fa0ad.33c2a","name":"select Publish messages","func":"if (msg.payload.search(\"Publish\") > 0)\n    return msg;","outputs":1,"noerr":0,"x":150,"y":400,"wires":[["a09bbfa.392f34"]]},{"id":"ca3878b4.7bdba8","type":"file in","z":"3c7fa0ad.33c2a","name":"traffic..csv","filename":"/home/user/Desktop/iot-examples/lesson5/traffic.csv","format":"lines","chunk":false,"sendError":false,"x":200,"y":280,"wires":[["4ba0df63.7c337"]]},{"id":"174dbae.cb18f45","type":"csv","z":"3c7fa0ad.33c2a","name":"make js class on payload","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":750,"y":200,"wires":[["fe40359a.75bd38"]]},{"id":"a7977eda.0fd94","type":"function","z":"3c7fa0ad.33c2a","name":"select HEX payload","func":"if (msg.payload.search(\"7b22\") > 0){\n    var strLen = msg.payload.length;\n    msg.payload = msg.payload.substring(msg.payload.search(\"7b22\"), strLen);\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["94eeac64.85c5e"]]},{"id":"94eeac64.85c5e","type":"function","z":"3c7fa0ad.33c2a","name":"hex2string","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["174dbae.cb18f45"]]},{"id":"fe40359a.75bd38","type":"change","z":"3c7fa0ad.33c2a","name":"select numerical part of value","rules":[{"t":"change","p":"payload.col2","pt":"msg","from":"value: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["d6802b78.868fa8"]]},{"id":"d6802b78.868fa8","type":"function","z":"3c7fa0ad.33c2a","name":"http and exec formation of plc","func":"var api_key = \"VKE45GRBHEY3J9WW\";\nvar mqtt_key = \"VKE45GRBHEY3J9WW\";\nvar channel_ID = \"1066943\";\nvar data = msg.payload.col2 ;\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+api_key + \"&field1=\" + data;\nmsg.payload = \"'channels/\"+channel_ID+\"/publish/\"+mqtt_key+\"' -m 'field1=\"+data+\"&status=MQTTPUBLISH' -d \";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["5c16042e.da8d2c"]]},{"id":"9d8d5b6a.fd1658","type":"http request","z":"3c7fa0ad.33c2a","name":"http request to thingspeak ","method":"GET","ret":"txt","url":"","tls":"","x":1070,"y":320,"wires":[["973de454.0405b8"]]},{"id":"5c16042e.da8d2c","type":"delay","z":"3c7fa0ad.33c2a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":320,"wires":[["db9085f2.576248"]]},{"id":"aabe58d6.a01038","type":"debug","z":"3c7fa0ad.33c2a","name":"debug plc value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.col2","x":1320,"y":240,"wires":[]},{"id":"a09bbfa.392f34","type":"switch","z":"3c7fa0ad.33c2a","name":"Topic selection","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":320,"wires":[["86cf3730.387438"],["86cf3730.387438"],["5ed1fc5b.c9ef44"],["5ed1fc5b.c9ef44"]]},{"id":"f5b122aa.17729","type":"csv","z":"3c7fa0ad.33c2a","name":"make js class on payload","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":750,"y":440,"wires":[["a88b8e95.e1f2"]]},{"id":"17ffe3d1.760adc","type":"function","z":"3c7fa0ad.33c2a","name":"hex2string","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["f5b122aa.17729"]]},{"id":"a88b8e95.e1f2","type":"change","z":"3c7fa0ad.33c2a","name":"select numerical part of value","rules":[{"t":"change","p":"payload.col2","pt":"msg","from":"value: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":400,"wires":[["c34810ed.14cd2"]]},{"id":"a7172e87.2a288","type":"function","z":"3c7fa0ad.33c2a","name":"select HEX payload","func":"if (msg.payload.search(\"7b22\") > 0){\n    var strLen = msg.payload.length;\n    msg.payload = msg.payload.substring(msg.payload.search(\"7b22\"), strLen);\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":520,"wires":[["17ffe3d1.760adc"]]},{"id":"19ebfde4.f7eab2","type":"debug","z":"3c7fa0ad.33c2a","name":"debug valve value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1330,"y":280,"wires":[]},{"id":"70d8819c.d7428","type":"switch","z":"3c7fa0ad.33c2a","name":"separating values to debug ","property":"url","propertyType":"msg","rules":[{"t":"cont","v":"field1","vt":"str"},{"t":"cont","v":"field2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":260,"wires":[["aabe58d6.a01038"],["19ebfde4.f7eab2"]]},{"id":"86cf3730.387438","type":"split","z":"3c7fa0ad.33c2a","name":"split hex codes in same row","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":160,"wires":[["a7977eda.0fd94"]]},{"id":"5ed1fc5b.c9ef44","type":"split","z":"3c7fa0ad.33c2a","name":"split hex codes in same row","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":480,"wires":[["a7172e87.2a288"]]},{"id":"db9085f2.576248","type":"exec","z":"3c7fa0ad.33c2a","command":"mosquitto_pub -h 'mqtt.thingspeak.com' -p '1883' -t","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"execute mosquito to publish mqtt","x":1100,"y":380,"wires":[["973de454.0405b8"],[],[]]},{"id":"c34810ed.14cd2","type":"function","z":"3c7fa0ad.33c2a","name":"http and exec formation of valve","func":"var api_key = \"VKE45GRBHEY3J9WW\";\nvar mqtt_key = \"VKE45GRBHEY3J9WW\";\nvar channel_ID = \"1066943\";\nvar data = msg.payload.col2 ;\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+api_key + \"&field2=\" + data;\nmsg.payload = \"'channels/\"+channel_ID+\"/publish/\"+mqtt_key+\"' -m 'field2=\"+data+\"&status=MQTTPUBLISH' -d \";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["5c16042e.da8d2c"]]}]
